<html>
    <head>
        <title>Neurociencia</title>
    </head>
    <body>
        <div>
            <h1><a href="">Neuro Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Neurociencia cognitiva</a></h2>
            <p>La Neurociencia cognitiva es un área académica que se ocupa del estudio científico de los mecanismos biológicos subyacentes a la cognición, con un enfoque específico en los sustratos neurales de los procesos mentales y sus manifestaciones conductuales. Se pregunta acerca de cómo las funciones psicológicas y cognitivas son producidas por el circuito neural. La neurociencia cognitiva es una rama tanto de la psicología así como de la neurociencia, unificando e interconectando con varias subdisciplinas tales como psicología cognitiva, psicobiología y neurobiología. Antes del advenimiento de la tecnología de resonancia magnética funcional, esta rama de la ciencia era llamada psicobiología cognitiva. Los científicos que se dedican a esta área normalmente tienen estudios de base en psicología experimental o neurobiología, pero pueden provenir de varias disciplinas, tales como la siquiatría, neurología, física, matemática, lingüística, y filosofía.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Frenología</a></h2>
            <p>Las primeras raíces de la neurociencia cognitiva están en la frenología, la cual es una teoría pseudocientífica que sostenía que la conducta puede estar determinada por la forma del cráneo. A comienzos del siglo XIX, Franz Joseph Gall y J. G. Spurzheim sostuvieron que el cerebro humano estaba seccionado entre aproximadamente 35 diferentes regiones. En su libro, “La Anatomía y la Fisiología del Sistema Nervioso en General, y del Cerebro en Particular”, Gall postuló que un bulto mayor en una de estas áreas significaba que esa parte del cerebro estaba siendo usada más frecuentemente por esa persona. Esta teoría ganó atención pública significativa, llevando a la publicación de diarios de frenología y la creación de frenómetros, instrumentos que medían los chichones en la cabeza de la gente.</p>
        </div>
    </body>
</html>